body {
    display: flex;
    height: 100vh;

    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to left, #3862AA, #88D9FC);
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 540px;
    background-color: #E4F0F6;
    box-shadow: 1px 1px 15px #4E585F;
    border-radius: 10px;
}

.social-media-box {
    background-color: #3A99D0;
    height: 35%;
}

form fieldset {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    height: 400px;
    width: 350px;
    border: none;
    padding: 0 60px;
    margin-bottom: 20px;
}

form fieldset h2 {
    margin-top:50px;
    color:#3A99D0;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 35px;
}

#username,
#password {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid #8c98a065;
    background-color: #E4F0F6;
}

#username:hover,
#password:hover {
    border-bottom: 2px solid #3A99D0;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.button .btn-signup {
    width: 150px;
    padding: 13px 0px;
    border-radius: 200px;
    border: none;
    background-color: #3A99D0;
    color: #E4F0F6;
    font-weight: 600;
    box-shadow: 1px 1px 5px #8C98A0;
}

.button .btn-signup:hover {
    background-color: #3862AA;
}

.button span {
    color: #8C98A0;
    font-size: 14px;
}

.button span a {
    color: #3A99D0;
    font-weight: 600;
    text-decoration: none;
}

.button span a:hover {
    color: #3862AA;
}

